.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: #296055;
  min-height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: rgb(21, 19, 19);
  box-shadow: #303433;
}

.cards {
  padding-top: 20px;
  min-width: 90%;
  /* background-color: #dadedd; */
  min-height: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(21, 19, 19);
  box-shadow: #303433;
}
.card {
  display: grid;
  max-width: 250px;
  grid-template-rows: max-content 50px 1fr;
  border-radius: 20px;
  border-color: 0 rgb(12, 23, 32);
  box-shadow: 0 0 20px #6d7a76;
  font-size: 1.2rem;
  animation-duration: 100ms;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 160px;
  border-radius: 20px 20px 0px 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card ul {
  padding-top: none;
  margin-top: 0%;
  list-style: none;
}
.card h4 {
  margin: 0px;
  padding-bottom: 0cm;
  max-height: 20px;
}
